extends includes/layout.pug

block title 
    title Zi Gang - Home Page

block content
    h1.text-grey hello! Complete basic parcel bundler

block footer
    p Copyright &copy; <span id="year"></span> by Zi Gang 